.form-group{ 
    font-size: 18px;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 700;
    color: #276EA9;
}
.btn{
    background-color: #CF5360;
    color: ghostwhite;
    box-shadow: 2px 2px 5px #B37D4E;
}