.blur{
    background-image: linear-gradient(to right, rgba(255,0,0,0), white,  rgba(255,0,0,1));
    margin: -11px 0 50px;
    background-attachment: fixed;
    -webkit-filter: blur(3px);
    filter: blur(2px);
    width: 100%;
    height: 100%;
    background: inherit;
    box-shadow: inset 0 0 0 200px inherit;
    overflow: hidden;
    position: absolute;
    padding: 0;
    border-radius: 26px;
    text-align: center;
}
.blur-img{
    height: max-content;
    width: 50%;
    float: left;
    /* display: grid; */
}